# Archivos de Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.csproj
*.sln

# Archivos generados de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Unity meta files opcionales (⚠️ ver nota abajo)
*.unitypackage

# VSCode
.vscode/

# Otros
.DS_Store
Thumbs.db
